body {
    background-color: #2C2C2B;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}



.primary-btn {
    color: green;
}

.edit {
    color: lightblue;
}

.hapus {
    color: red;
}